/* GENERAL */
body {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-weight: 600;
}
p{
  color: #888888;
}

.container-fluid {
  padding: 3% 7% 7%;
}

/* NAVBAR */
.navbar {
  padding-left: 0;
}

.nv-size {
  margin-top: 13px;
}

.navbar-brand {
  font-family: 'Lexend Giga', sans-serif;
  font-size: 2rem;
}

.nav-sign {
  margin-right: 10px;
}

#title {
  color: black;
  background-color: #639a67;
}

.h1-title {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.7;
  margin-top: 50px;
  margin-bottom: 90px;
}

.download-button {
  margin: 0 10px 0 0;
}

.phone {
  width: 60%;
  transform: rotate(25deg);
  /* margin-top: 20px;
  margin-left: 130px;
  margin-right: auto; */
  position: absolute;
}

/* FEATURES */
#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;

}

.feature {
  text-align: center;
  line-height: 2.4;
  font-family: 'Montserrat', sans-serif;
}

.icon {
  color: #d8ebb5;
}

.icon:hover {
  color: #2b580c;
}

/* TESTOMONIALS */
#testimonials {
  text-align: center;
  background-color: #d8ebb5;
  /* height: 560px; */
}

.testmonial-heading {
  font-size: 2rem;
  line-height: 1.5;
  font-weight: bold;
}

.testmonial-img {
  width: 16%;
  border-radius: 100%;
}

.carousel-item {
  padding: 7% 15%;
  height: 500px;
  overflow: hidden;
  width: 100%;
}
/* ACCOUNTS */
#accounts{
  padding: 100px;
  text-align: center;
}

.account-card{
  padding: 3% 2%;
}

#download{
  background-color: #9dc6a7;
  text-align: center;
  padding: 5% 30%;
}

#footer{
  background-color: white;
  text-align: center;
}

@media (max-width: 1000px) {
   #title{
     text-align: center;
   }

  .phone{
    width: 40%;
    position: static;
    transform: rotate(0);
    margin-top: 30px;
  }

  .h1-title{
    margin-bottom: 30px;
  }

}


@media (max-width:415px){
.h1-title{
  font-size: 2rem;
}
.testmonial-heading{
  font-size: 1.5rem;
}
.carousel-item{
  height: 400px;
}
.account-personality{
  font-size: 1.3rem;
  font-weight: bold;

}

.accountname{
  font-size: 1.3rem;
}
#download{
  padding: 5% 15%;
}

.download-h3{
  font-size: 1.3rem;
}
.download-h2{
  font-size: 1rem;
}
}
